body{
  margin: 0;
  padding: 0;
  background-image: url(/images/Fondo.jpg);
  background-size: cover;
  background-position: center;
}
div{
  margin-left: 5%;  
  margin-right: 5%;  
  border: 2px solid black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.753),rgba(0, 0, 0, 0.89));
}
#Perfil{
  padding-left: 42.5%;
}

p{
  box-align: "center";
}

A{
  font-family: 'Lucida Console';
  font-size: 25px;

}

h2{
    text-align: center;
    font-family: 'Lucida Console';
    font-size: 38px;
    -webkit-text-fill-color: rgb(236, 0, 0);
    -webkit-text-stroke:1.5px;
    -webkit-text-stroke-color:rgb(255, 1, 1);
}

h4{
    text-align: center;
    font-family: 'Helvetica' ;
    font-size: 20px;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.877);
    -webkit-text-stroke:0.5px;
    -webkit-text-stroke-color:rgb(0, 0, 0);
}

#barra{
  margin-left: 15%;  
  margin-right: 15%;  
}
