<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <title>categoriass</title>
  <link rel="stylesheet" type="text/css" href="/css/producto.css">
  
</head>
<body>
  <header class="header">
    <nav class="navbar">
      <div id='h1'>
       <h1 class="titulo">Categorias <%=modelo.length%></h1> 
     </div>
     <ul class="item-box">
      <li class="item"><a href="/">Inicio</a></li>
      <li class="item"><a href="/productos">Productos</a></li>
      <li class="item item-d"><a href="/login">Volver</a></li>
    </ul>
  </nav>
  </header>
  
  <div class="table">
    <table>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th><a href="/addCategorias"><img src="/img/add.png" id='add'></a></th>
          </tr>
          <%for(const categorias of modelo){%>
            <tr>
              <td><%=categorias.id%></td>
              <td><%=categorias.nombre%></td>
              <td class="icon">

              <a href="/updateCategoria/<%=categorias.id%>"><img src="/img/update.png" width="30"></a>

             </td>
            </tr>
           <%}%>
        </table>
       
  </div>
</body>
</html>
