
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta charset="iso-8559-1"/>
  <meta name= "description" content="Página para la venta de productos relacionados con la perdida de peso."/>
  <meta name="keywords" content="html5,javascript,diseño web, salud, perdida de peso, peso, salud, bienestar, ejercicio, vida saludable"/>
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="icon" href="img/favicon.png">
  <style type="text/css">
    @media screen and (max-width:720px){
      header{
        width:100%;
      }
      #ContenedorImgNombre{
        width: 100%;
      }
      aside img{
        display:none;
      }

    }
  </style>
  <title>Inicio</title>
</head>
<body>
  <header class="header">
    <nav class="navbar">
      <div id='h1'>
        <a href="/">
          <h1 class='titulo'>Bienvenido</h1>
        </a>
     </div>
     <ul class="item-box">
      <li class="item"><a href="/">Inicio</a></li>
      <li class="item item-d"><a href="/login">Admin</a></li>
      <li class="item"><a href="/loginUsers">Cliente</a></li>
    </ul>
  </nav>
  <span class="banner">
    <h2 class="bannerTitle">Cuida tu salud con nosotros</h2>
  </span>
</header>


  <div id='ContenedorImgNombre'>
    <span class="wrap">
      <span class="wrap-image"></span>
    </span>
    <span class="autor-data">
         <h2>Nahum Medina</h2>
      <p><b>Cedula:</b>30160377<b>Sección:</b> 3</p>
    </span> 
  </div>

<main id='contenedorP'>
  <div class="contenido">

    <p>La pérdida de peso es un objetivo común para muchas personas, y existen diversos medicamentos disponibles en el mercado que pueden ayudar en este proceso. Sin embargo, es importante tener en cuenta que los medicamentos para la pérdida de peso deben ser utilizados bajo la supervisión y recomendación de un profesional de la salud, como un médico o un nutricionista. Aquí tienes información general sobre los medicamentos para la pérdida de peso:</p>
<br>
<p>Medicamentos recetados: Hay varios medicamentos recetados que pueden ayudar en el proceso de pérdida de peso. Estos medicamentos suelen estar diseñados para suprimir el apetito, reducir la absorción de grasas o aumentar el metabolismo. Algunos ejemplos de medicamentos recetados para la pérdida de peso incluyen fentermina, orlistat y liraglutida. Es importante destacar que estos medicamentos deben ser utilizados bajo la supervisión de un profesional de la salud, ya que pueden tener efectos secundarios y restricciones de uso.</p>
<br>
<p>Medicamentos de venta libre: Además de los medicamentos recetados, existen también medicamentos para la pérdida de peso que se pueden adquirir sin receta médica. Estos productos suelen contener ingredientes naturales, como extractos de plantas, vitaminas o minerales, que se promocionan como suplementos para ayudar en la pérdida de peso. Sin embargo, es importante tener en cuenta que la eficacia y seguridad de estos productos pueden variar, y es recomendable consultar con un profesional de la salud antes de utilizarlos.</p>
<br>
<p>Es fundamental entender que los medicamentos para la pérdida de peso no son una solución mágica y no deben considerarse como la única estrategia para alcanzar un peso saludable. La pérdida de peso efectiva y sostenible se logra a través de un enfoque integral que incluya cambios en la alimentación, aumento de la actividad física y hábitos de vida saludables. Es importante consultar con un profesional de la salud para recibir orientación personalizada y establecer un plan adecuado para la pérdida de peso, que tenga en cuenta factores individuales y condiciones de salud existentes.</p>
<br>
<p>Recuerda que la información proporcionada aquí es solo de carácter informativo y no reemplaza el consejo médico. Si estás considerando utilizar medicamentos para la pérdida de peso, te recomendamos hablar con un profesional de la salud calificado para recibir la orientación adecuada y segura.</p>

  </div>
  <aside>
    <img src="img/cc.jpg" class="imgg">
    <img src="img/mm.jpg" class="imgg">
    <img src="img/yy.jpg" class="imgg">
  </aside>
</main>

<%- include('footer') -%>

</body>

</html>