
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta charset="iso-8559-1"/>
  <meta name= "description" content="Página para la venta de productos relacionados con la perdida de peso."/>
  <meta name="keywords" content="html5,javascript,diseño web, salud, perdida de peso, peso, salud, bienestar, ejercicio, vida saludable"/>
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="icon" href="img/favicon.png">
  <title>Inicio</title>
</head>
<body>
  <header class="header">
    <nav class="navbar">
      <div id='h1'>
        <a href="/">
          <h1 class='titulo'>Bienvenido</h1>
        </a>
     </div>
     <ul class="item-box">
      <li class="item"><a href="/">Inicio</a></li>
      <li class="item"><a href="/categorias">Categorias</a></li>
      <li class="item item-d"><a href="/login">Admin</a></li>
    </ul>
  </nav>
  <span class="banner">
    <h2 class="bannerTitle">Cuida tu salud con nosotros</h2>
  </span>
</header>


  <div id='ContenedorImgNombre'>
    <span class="wrap">
      <span class="wrap-image"></span>
    </span>
    <span class="autor-data">
      <h2>Nahum Medina</h2>
      <p><b>Cedula:</b>30160377<b>Sección:</b>1</p>
    </span> 
  </div>

<main id='contenedorP'>
  <div class="contenido">

    <p>¡No hay límites para lo que puedes lograr con la programación de servidores web utilizando Node.js! Cada línea de código que escribas es un paso hacia la creación de aplicaciones web poderosas y escalables. Recuerda siempre mantener tu motivación en alto, porque cada desafío que enfrentes te hará crecer como desarrollador. No importa si eres principiante o experto, cada error es una oportunidad para aprender y mejorar tus habilidades...</p>

  </div>
  <aside>
    <img src="img/cc.jpg" class="imgg">
    <img src="img/mm.jpg" class="imgg">
    <img src="img/yy.jpg" class="imgg">
  </aside>
</main>

<%- include('footer') -%>

</body>

</html>
