<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <h2>SINTESIS CURRICULAR</h2>
      <p>
      <img id="Perfil" src="/images/Foto.jpeg" height="15%" width="15%">
      </p>
          <h2>DATOS PERSONALES</h2>
              <h4> Nombre: Nahum</h4>
              <h4> Apellido: Medina</h4>
              <h4> Nacionalidad: Venezolano</h4>
              <h4> Cedula de Identidad: 30.160.377</h4>
              <h4> Fecha de Nacimiento: 04 de Mayo de 2003</h4>
              <h4> Teléfono: 0412-4528073   </h4>
              <h4> Correo Electronico: theboycool24@gmail.com</h4>
              <h4> Dirección:San Juan de los Morros- Estado Guárico. <br> Urb. Rómulo Gallegos. <br> Sector 4, Calle 7. </h4>
          <h2>REDES SOCIALES</h2>
              <h4><A HREF="https://www.facebook.com/nahummedina412"><img src="/images/Facebook.png" height="5%" width="5%">Facebook</A> </h4>
              <h4><A HREF="https://twitter.com/nahum412"><img src="/images/Twitter.png" height="5%" width="5%">Twitter</A></h4>
              <h4><A HREF="https://github.com/nahum2003"><img src="/images/Github.png" height="8%" width="8%">Github</A></h4>
   
      
      
          <h2>FORMACIÓN ACADÉMICA</h2>
              <h4>Educación primaria: U.E.N.B "Dr. Arístides Rojas"</h4>
              <h4>Educación secundaria: U.E.C “Dr. José María Vargas”</h4>
              <h4>Titulo obtenido: Bachiller en Ciencias. </h4>
              <h4>Cursando 4to semestre de Ing. Informatica en la Universidad Nacional Experimental "Rómulo Gallegos"</h4>
          <h2>EXPERIENCIA LABORAL</h2>
              <h4>Asistente de Informatica - EMCOMUNA</h4>
              <h4>Facilitador del Curso en la Introduccion a las Criptomonedas</h4>
              <h4>Docente en Casa de la Cultura para curso del Instrumento Cuatro</h4>
          <h2>HABILIDADES Y DESTREZAS</h2>
              <h4>Manejo administrativo de oficinas</h4>
              <h4>Dominio del Idioma Ingles</h4>
              <h4>Multi-instrumentista musical</h4>
  </div>
  </body>
</html>
